# env
.env
.env.*

# data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/external/*
!data/external/.gitkeep

# python
.venv/
.mypy_cache/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# notebook
.ipynb_checkpoints/
*.ipynb

# experiments
experiments/

# mlruns
mlruns/

# output
outputs/

# IDE
.vscode/

# models
*.pt

# Tests
tests/

# others
.claude/
.codex/
.agents/
.serena/
docs/
AGENTS.md 
CLAUDE.md
.opencode/
.sisyphus/

# VPS 
.forward-port-linux.sh
.forward-port-win.sh