# env
.env
.env.*

# data
data/raw/
data/processed/

# python
.venv/
.mypy_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# notebook
.ipynb_checkpoints/

# IDE
.vscode/

# models
*.pt

# others
.claude/
.serena/
docs/