# env
.env
.env.*

# data
data/**
!data/**/.gitkeep

# python
.venv/
.mypy_cache/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# notebook
.ipynb_checkpoints/

# IDE
.vscode/

# models
*.pt

# Tests
tests/

# others
.claude/
.codex/
.agents/
.serena/
docs/
AGENTS.md 
CLAUDE.md
.opencode/
.sisyphus/